@charset "UTF-8";

body {
    background-color: #efefef;
}

.search-box {
    padding-top: 7rem;
}

.searcher-bar {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-height: 57px;
    z-index: 100;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.searcher-bar h3 {
    line-height: 37px;
}

.list-element {
    overflow: hidden;
}

footer {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}