<footer>
    <div class="bg-white">
        <div class="container">
            <div class="line">
                <div class="xl12 xs6 xs3-move">
                    <ul class="list-inline padding text-small text-center">
                        <li>© 2015 ~ btsearcher (<a href="http://bt.fullstackdev.cn">bt.fullstackdev.cn</a>)</li>
                        <li>version: 1.0</li>
                        <li>
                            <span class="badge" title="已发现非法资源数" style="cursor: pointer;">{{.illegalCount}}</span>&nbsp;
                            <a href="http://www.12321.cn/" target="_blank">净网,我们一起行动!</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/static/js/main.js"></script>
</body>
</html>