{{if gt .paginator.PageNums 1}}
<!-- 分页开始-->
<ul class="pagination pagination-group pagination-small">
    {{if .paginator.HasPrev}}
    <li><a href="{{.paginator.PageLinkPrev}}">&lt;</a></li>
    <!-- <li><a href="{{.paginator.PageLinkFirst}}">1</a></li>-->
    {{else}}
    <li class="disabled"><a>&lt;</a></li>
    {{end}}
    {{range $index, $page := .paginator.Pages}}
    <li {{if $.paginator.IsActive .}} class="active" {{end}}>
        <a href="{{$.paginator.PageLink $page}}">{{$page}}</a>
    </li>
    {{end}}
    {{if .paginator.HasNext}}
    <li><a href="{{.paginator.PageLinkNext}}">&gt;</a></li>
    {{else}}
    <li class="disabled"><a>&gt;</a></li>
    {{end}}
</ul>
<!--分页结束-->
{{end}}